*{
    margin: none;
    padding: none;
    font-family: sans-serif;
}
.header {
    background-color: black;
    border: black solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "logo"
    "nav";
}
.header a {grid-area: logo;} 
.header nav{grid-area: nav;} 

.header img{
    width: 100px;
}
    
.header a{
    color: rgb(212, 20, 20);
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
}
.nav-link:hover{
    color: white;
}
.main {
    background-color: black;
    border: black solid;
    color: white;
}
.main img{
    width: 100%;
}
.footer {
    background-color: black;
    color: red;
    border: solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer img {
    width: 30px;
    margin-left: 15px;
}
.footer p{
    font-family: 'Rock Salt', cursive;
}
.footer small{
    font-family: 'Rock Salt', cursive;
}
.main-shows{
    background-color: black;
    color: white;
    border: black solid;   
}
.main-shows h1 {
    display: block;
    text-align: -webkit-center;
    font-family: 'Dokdo', cursive;
}
.main-shows a{
    font-family: 'Dokdo', cursive;
}
.shows{
    display: flex;
    flex-direction: column;
}
.show-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-principal img{
    width: 100%;
}
.show-principal p{
    line-height: 10px;
    text-align: center;
    font-family: 'Dokdo', cursive;
}

.shows-chicos{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.shows-chicos img{
    width: 40%;
}
.shows-chicos p{
    width: 60%;
    font-size: small;
    line-height: 7px;
    font-family: 'Dokdo', cursive;
}

.main-discografia{
    background-color: black;
    color: white;
    border: black solid;
}
.main-discografia h1 {
    display: block;
    text-align: -webkit-center;
    font-family: 'Dokdo', cursive;
}
.main-discografia section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}
.main-discografia div{
    display: block;
    text-align: center;
    width: 157px;
}

.main-discografia img{
    width: 80%;
}

.main-discografia p{
    font-family: 'Dokdo', cursive;
}
.main-discografia small{
    font-family: 'Dokdo', cursive;
}

.main-tienda{
    background-color: black;
    color: white;
    border: black solid;
}
.main-tienda img{
    width: 300px;
}
.main-contacto{
    background-color: black;
    color: white;
    border: black solid;
}
.main-contacto img{
    width: 50%;
}

@media (min-width: 768px){
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: flex-start
    }
    .shows-chicos img{
        width: 50%;
    }
    .shows-chicos p{
        width: 50%;     
        font-family: 'Dokdo', cursive;
        font-size: large;
        line-height: normal;
    }
}
@media (min-width: 1024px){
    .shows{
        height: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;       
    }
    .show-principal img{
        height: 75%;
    }
    .show-principal p{
        font-size: large;
    }
    .shows-secundarios{
        overflow: scroll;
    }
    .shows-chicos{
        display: flex;
        flex-direction: row;    
    }
    .shows-chicos img{
        height: 300px;
    }
}